mixin modal()
    #time-delivery(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body

                    p.modal-title: b УСЛОВИЯ ДОСТАВКИ

                    p: b Бонусы начисяются пользователям, имеющим активированную Ларь-карту. Для получения бонусов необходимо авторизоваться на сайте!

                    p Доставка блюд из ресторана Океан Grill осуществляется с 12:00 - 24:00 без выходных.
                    p Прием заказов с 11:00 - 23:00
                    p Минимальная сумма заказа - 500 руб.
                    p Доставка осуществляется бесплатно. По доставке в удаленные районы спрашивайте у оператора.
                    p ВАЖНО: минимально возможная сумма, принимаемая к оплате наличными рублями составляет: 400 руб. Т.е. Вы заказываете доставку на сумму 1000 руб., максимальное кол-во бонусов, которое Вы можете списать со счета - 600 в.руб, 400 руб. оплачиваете курьеру!
                    p Срок годности всех блюд не более 24 часов при температуре от +2 до +6 °С

    #yes-reviews(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    br
                    br
                    br
                    .text-center
                        p.modal-title.modal-title_minMargin.ttu: b Спасибо за отзыв!
                        p После проверки мы опубликуем его на сайте.
                    br
                    br
                    br

    #add-reviews(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    p.modal-title.ttu: b оставить отзывы
                    .form-group
                        textarea.form-control(placeholder="Ваш комментарий", rows='5')
                    button.btn.btn-blue.btn-border.btn-notBg(style="width: 270px;max-width: 100%;") Войти

    #auth-phone(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    .text-center

                        p.modal-title
                            i.s-smartphone
                            br
                            b Вход по номеру телефона
                    br
                    .form-group
                        input.form-control(placeholder="Введите номер телефона")
                    button.btn.btn-red.btn-width.ttu.btn-textNormal отправить смс для авторизации



    #psd-101(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    .text-center

                        p.modal-title.modal-title_big
                            i.s-man-user
                            br
                            b Вход по логину
                    br
                    .form-group
                        input.form-control.form-control_big(placeholder="Введите логин")
                    .form-group
                        input.form-control.form-control_big(placeholder="Введите пароль")
                    br
                    button.btn.btn-red.btn-width.ttu.btn-textNormal войти

    #psd-24(class="modal fade")
        .modal-dialog.modal-md(style='width: 588px;margin: inherit auto;max-width: 100%;')
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body

                    p.modal-title.modal-title_magrinSmall.ttu: b войдите в систему

                    p На нашем сайте оставить отзыв могут только зарегистрированные пользователи.
                    p Войдите в систему или зарегистрируйтесь.
                    br
                    .col-btn
                        .col-btn__cell
                            button.btn.btn-blue.btn-border.btn-notBg.btn-width Войти
                        .col-btn__cell
                            button.btn.btn-red.btn-border.btn-notBg.btn-width Зарегистрироваться

    #psd-100(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    br
                    br
                    br

                    .auth-sign.not-styleLink
                        a(href="#").auth-sign__item
                            .auth-sign__item-icon: i.s-auth-sign-1
                            .auth-sign__item-title Войти по логину
                        a(href="#").auth-sign__item
                            .auth-sign__item-icon: i.s-auth-sign-2
                            .auth-sign__item-title Войти по номеру телефона
                        a(href="#").auth-sign__item
                            .auth-sign__item-icon: i.s-auth-sign-3
                            .auth-sign__item-title Войти через Вконтакте
                        a(href="#").auth-sign__item
                            .auth-sign__item-icon: i.s-auth-sign-4
                            .auth-sign__item-title Войти через Facebook


                    button.btn.btn-red.btn-border.btn-notBg.btn-width.ttu Зарегистрировать карту

    #psd-25(class="modal fade")
        .modal-dialog.modal-md(style='width: 588px;margin: inherit auto;max-width: 100%;')
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body

                    p.modal-title.modal-title_magrinBig.ttu: b Специально для вас
                    +img('content/popup-img')
                    br
                    br
                    p.modal-title.modal-title_magrinSmall.ttu Sed ut perspiciatis unde omnis
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ips voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequu ntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, quia non numquam eius modi tempora incidunt ut labore et dolore magnam iquam quaerat voluptatem.
                    br
                    .col-btn
                        .col-btn__cell
                            button.btn.btn-blue.btn-border.btn-notBg.btn-width Поделиться в соц. сетях
                        .col-btn__cell
                            button.btn.btn-red.btn-border.btn-notBg.btn-width Отправить мне на почту



    #psd-104(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    label.style-radio
                        input(type='radio' name='ss', checked).style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title Зарегистрировать новую карту
                    br
                    label.style-radio
                        input(type='radio' name='ss').style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title У меня есть пластиковая карта
                    br
                    br

                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваше имя", value="Пётр")
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Фамилия")
                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваш телефон")
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваш e-mail")

                    br
                    .form-group
                        input.form-control(placeholder="Дата рождения", style='width: 154px;')
                        |&nbsp;&nbsp;&nbsp;&nbsp;
                        span.text-big.MuseoSansCyrl Пол:
                        |&nbsp;&nbsp;
                        label.style-radio
                            input(type='radio' name='mm', checked).style-radio__input
                            span.style-radio__table.style-radio__table_smallMargin
                                span.style-radio__table-cell.style-radio__table-cell_el
                                    span.style-radio__el
                                span.style-radio__table-cell
                                    span.style-radio__title М
                        |&nbsp;&nbsp;
                        label.style-radio.style-radio__table_smallMargin
                            input(type='radio' name='mm').style-radio__input
                            span.style-radio__table
                                span.style-radio__table-cell.style-radio__table-cell_el
                                    span.style-radio__el
                                span.style-radio__table-cell
                                    span.style-radio__title Ж
                    br
                    .row.MuseoSansCyrl
                        .col-md-6
                            .form-group
                                label.text-big Район проживания
                                select
                                    option Выбрать
                                    option item 1
                                    option item 2
                                    option item 3
                                    option item 4
                        .col-md-6
                            .form-group
                                label.text-big Район работы
                                select
                                    option Выбрать
                                    option item 1
                                    option item 2
                                    option item 3
                                    option item 4

                    br
                    label.style-radio.not-styleLink
                        input(type='radio', name='aaaaa', checked).style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title Я принимаю условия #[a(href="#").color-black: span.color-black__title.color-black__title_viewBorder пользовательского соглашения]
                    br
                    br
                    button(style="width: 321px;max-width: 100%;font-weight: 400;").btn-modal.openSans.btn.btn-red.ttu Зарегистрировать

    #psd-105(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    label.style-radio
                        input(type='radio' name='ss', checked).style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title Зарегистрировать новую карту
                    br
                    label.style-radio
                        input(type='radio' name='ss').style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title У меня есть пластиковая карта
                    br
                    br

                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Введите номер карты")

                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваше имя", value="Пётр")
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Фамилия")
                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваш телефон")
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Ваш e-mail")
                    .row
                        .col-sm-6
                            .form-group
                                input.form-control(placeholder="Дата рождения")

                    br

                    br
                    .row.MuseoSansCyrl
                        .col-md-6
                            .form-group
                                label.text-big Район проживания
                                select
                                    option Выбрать
                                    option item 1
                                    option item 2
                                    option item 3
                                    option item 4
                        .col-md-6
                            .form-group
                                label.text-big Район работы
                                select
                                    option Выбрать
                                    option item 1
                                    option item 2
                                    option item 3
                                    option item 4

                    br
                    label.style-radio.not-styleLink
                        input(type='radio', name='aaaaa', checked).style-radio__input
                        span.style-radio__table
                            span.style-radio__table-cell.style-radio__table-cell_el
                                span.style-radio__el
                            span.style-radio__table-cell
                                span.style-radio__title Я принимаю условия #[a(href="#").color-black: span.color-black__title.color-black__title_viewBorder пользовательского соглашения]
                    br
                    br
                    button(style="width: 321px;max-width: 100%;font-weight: 400;").btn-modal.openSans.btn.btn-red.ttu Зарегистрировать

    #psd-19(class="modal fade")
        .modal-dialog.modal-md-min
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    p.modal-title.modal-title_magrinSmall.ttu Оформление заказа
                    p(style="margin-bottom:22px;") Минимальная сумма оплаты наличными 400 руб.

                    .IScroll.list-basketBlock
                        div
                            .list-basket
                                -for(var i=1;i<10;i++)
                                    .list-basket__item
                                        .list-basket__item-title Бизнес ланч (полный)
                                        .list-basket__item-count
                                            .count-block
                                                button.count-block__btn.count-block__btn_minus -
                                                input.count-block__input(value=i+" шт").text-center
                                                button.count-block__btn.count-block__btn_plus +
                                        .list-basket__item-price 370 руб.
                                        div: button.list-basket__item-clear: +icon('clear', 'svg-clear', 10, 10)
                    br

                    .text-right
                        div.dib
                            .modal-table-text.text-left
                                .modal-table-text_row
                                    .modal-table-text_cell.text-right: span.ttu Общая сумма заказа:
                                    .modal-table-text_cell: b.color-blue 580 руб.
                                .modal-table-text_row
                                    .modal-table-text_cell.text-right Доступно like бонусов:
                                    .modal-table-text_cell: b.color-blue 180
                                .modal-table-text_row
                                    .modal-table-text_cell
                                    .modal-table-text_cell
                                .modal-table-text_row
                                    .modal-table-text_cell.text-right.list-modal-toggle-checkbox
                                        label.style-radio.style-radio_textSmall
                                            input(type='radio' name='mm', checked, data-toggle-fn="removeClass").style-radio__input
                                            span.style-radio__table.style-radio__table_smallMargin
                                                span.style-radio__table-cell.style-radio__table-cell_el
                                                    span.style-radio__el
                                                |&nbsp;
                                                span.style-radio__table-cell
                                                    span.style-radio__title Коплю
                                        | &nbsp;&nbsp;
                                        label.style-radio.style-radio_textSmall.style-radio__table_smallMargin
                                            input(type='radio' name='mm', data-toggle-fn="addClass").style-radio__input
                                            span.style-radio__table
                                                span.style-radio__table-cell.style-radio__table-cell_el
                                                    span.style-radio__el
                                                |&nbsp;
                                                span.style-radio__table-cell
                                                    span.style-radio__title Трачу
                                    .modal-table-text_cell

                                .modal-table-text_row.list-modal-toggle-checkbox__elementsHidden
                                    .modal-table-text_cell.text-right Списать like бонусов
                                    .modal-table-text_cell: input.form-control.form-control_min(value="180", style="width: 84px;")

                                .modal-table-text_row.list-modal-toggle-checkbox__elementsHidden
                                    .modal-table-text_cell
                                    .modal-table-text_cell

                                .modal-table-text_row.list-modal-toggle-checkbox__elementsHidden
                                    .modal-table-text_cell.text-right: span.ttu Итого к оплате:
                                    .modal-table-text_cell: b.color-blue 400 руб.





                    br
                    p.modal-title.modal-title_magrinSmall.modal-title_small.ttu ВВЕДИТЕ ВАШИ ДАННЫЕ
                    .modal-table-input
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Имя")
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Фамилия")
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Номер телефона")
                    .form-group.two
                        input.form-control.form-control_min(placeholder="Адрес доставки")
                    .form-group.two
                        textarea.form-control.form-control_min(placeholder="Комментарий к заказу", rows='3')



                    button(style="width: 321px;max-width: 100%;font-weight: 400;").btn-modal.openSans.btn.btn-red Оформить заказe


    //#psd-21(class="modal fade").modal-show
    #psd-21(class="modal fade")
        .modal-dialog.modal-md-min
            .modal-content
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body
                    p.modal-title.modal-title_magrinSmall.ttu Оформление заказа
                    p(style="margin-bottom:22px;") Минимальная сумма оплаты наличными 400 руб.

                    .IScroll.list-basketBlock
                        div
                            .list-basket
                                -for(var i=1;i<10;i++)
                                    .list-basket__item
                                        .list-basket__item-title Бизнес ланч (полный)
                                        .list-basket__item-count
                                            .count-block
                                                button.count-block__btn.count-block__btn_minus -
                                                input.count-block__input(value=i+" шт").text-center
                                                button.count-block__btn.count-block__btn_plus +
                                        .list-basket__item-price 370 руб.
                                        div: button.list-basket__item-clear: +icon('clear', 'svg-clear', 10, 10)
                    br

                    .text-right
                        div.dib
                            .modal-table-text.text-left
                                .modal-table-text_row
                                    .modal-table-text_cell.text-right: span.ttu Общая сумма заказа:
                                    .modal-table-text_cell: b.color-blue 580 руб.

                    br
                    br
                    p.modal-title.modal-title_magrinSmall.ttu зарегистрируйтесь
                    p(style="margin-bottom: 20px;") И вы сможите накапливать и использовать бонусные баллы #[br.hidden-sm-down] в более чем 300 заведений Калининграда с помощью #[br.hidden-sm-down] универсальной карты Like!
                    .col-btn
                        .col-btn__cell
                            button.btn.btn-blue.btn-border.btn-notBg.btn-width Войти
                        .col-btn__cell
                            button.btn.btn-red.btn-border.btn-notBg.btn-width Зарегистрироваться

                    br
                    br
                    p.modal-title.modal-title_magrinSmall.modal-title_small.ttu ВВЕДИТЕ ВАШИ ДАННЫЕ
                    .modal-table-input
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Имя")
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Фамилия")
                        .modal-table-input__cell
                            .form-group.two
                                input.form-control.form-control_min(placeholder="Номер телефона")
                    .form-group.two
                        input.form-control.form-control_min(placeholder="Адрес доставки")
                    .form-group.two
                        textarea.form-control.form-control_min(placeholder="Комментарий к заказу", rows='3')



                    button(style="width: 321px;max-width: 100%;font-weight: 400;").btn-modal.openSans.btn.btn-red Оформить заказe





