- var pathImg = "%=static=%img";
mixin img(src, format)
    - var format = format || "jpg"
    img(src=pathImg + "/" + src + "." + format, id!=attributes.id, class!=attributes.class, style!=attributes.style, alt="", title='')

mixin icon(iconName, className, iconWidth, iconHeight)
    != jadeHelpers.Icon.call(locals, {iconName: iconName, className: className, iconWidth: iconWidth, iconHeight: iconHeight})


mixin viewFilter(tagsList)
    if tagsList && typeof(tagsList) == 'object'
        .label-list
            if tagsList.list
                - var minElClass = '';
                if tagsList.minEl
                    - minElClass = 'label-list__item_min';


                each tag, key in tagsList.list
                    - var checked = false
                    if key == 0
                        - checked = true

                    .label-list__section
                        label.label-list__item(class!=minElClass)
                            input(type='radio', checked=checked, name='sss').label-list__item-input
                            span.label-list__item-element: span= tag
            if tagsList.search
                - var searchValue = ''
                if tagsList.searchValue
                    - searchValue = tagsList.searchValue

                .label-list__section
                    .form-search
                        input(placeholder="ПОИСК" value=searchValue).form-search__input
                        button.form-search__btn: i.s-search