.footer{
  background-color: #303030;
  color: #fff;
  padding: 25px 0;
  padding-bottom: 30px;
  a{
    color: currentColor;
  }
  svg{
    fill: currentColor;
  }
  &__logo{
    display: block;
    margin-bottom: 6px;
  }
  &__network{
    @include nl;
    font-size: 0;
    margin: -2px;
    text-align: center;
    li{
      display: inline-block;
      font-size: 11px;
      padding: 2px;
      a{
        display: block;
      }
    }
  }
  &__text{
    line-height: 21px;
    padding-top: 15px;
    p{
      margin-bottom: 7px;
    }
  }
  &__copyright{
    text-align: center;
    &-img{
      margin-bottom: 8px;
      img{
        width: 83px;
        height: 31px;
        display: inline-block;
      }
    }
    &-title{}
  }
  &__blockCenter{
    text-align: center;
  }
  &__blockRight{
    text-align: right;
  }
}
