mixin header(headerData)
    - var style = false

    if typeof(headerData) == 'object'
        - style = headerData.style



    .card-desc.hidden-sm-down
        .container
            .card-desc__table
                .card-desc__img: +img('content/card', 'png')
                h1.card-desc__text: span Карта LIKE – это новый формат карт лояльности. #[br.hidden-md-down] Принимается в магазинах, бутиках, ресторанах, #[br.hidden-md-down] кафе и службах доставки



    .header.not-styleLink
        .header__nav
            .container
                .header__nav-table
                    .header__nav-table-cell.header__nav-table-cell_toggleNav.hidden-lg-up
                        .mobile-list-anim
                            input(type="checkbox", id="header-bottom-toggleMenuMbl")
                            label.menuTopMobel(for="header-bottom-toggleMenuMbl")
                                span.menu-mobile
                                    span.menu-mobile-hamburger.one
                                    span.menu-mobile-hamburger.two
                                    span.menu-mobile-hamburger.three
                    .header__nav-table-cell.header__nav-table-cell_logo.hidden-md-down
                       a(href="#").header__nav-logo: +img('general/logo', 'svg')
                    .header__nav-table-cell
                        .header__nav-list
                            .container
                                ul
                                    li: a(href="#").color-black: span.color-black__title ГЛАВНАЯ
                                    li.active: a(href="#") МЕСТА
                                    li: a(href="#").color-black: span.color-black__title ДОСТАВКА
                                    li: a(href="#").color-black: span.color-black__title ПОЛУЧИТЬ КАРТУ

                    .header__nav-table-cell.text-right
                        if style == 'user'
                            .header__profile
                                .header__profile-table
                                    .header__profile-table-cell
                                        .header__profile-ava: +img('/assets/header/ava', 'png')
                                    .header__profile-table-cell
                                        .header__profile-title Иванов Пётр Петрович
                                        .header__profile-num №54321
                                        .header__profile-links
                                            a(href="#").header__profile-links-link.color-black: span.color-black__title.color-black__title_viewBorder Личный кабинет
                                            a(href="#").header__profile-links-link.color-black: span.color-black__title.color-black__title_viewBorder Выход


                        else
                            .header__nav-links
                                a(href="#"): span.btn.btn-red.btn-border Регистрация
                                |&nbsp;&nbsp;&nbsp;
                                a(href="#"): span(style="width: 99px;").btn.btn-blue Войти



























