html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

//@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
//
//}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .header{
    &__nav{
      position: relative;
      &-list{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 2px solid #2d59ca;
        padding: 12px 0;
        ul{
          display: block;
          line-height: normal;
          margin: 0;
          li{
            display: block;
            +li{
              border-top: 1px solid #ececec;
            }
            a{
              padding: 10px 4px;
            }
          }
        }
      }
    }
  }
  .itemList {
    margin: -8px;
    &__section {
      padding: 8px;
    }
  }
  .partners{
    .slick-arrow{
      &.slick-prev{
        right: auto;
        left: 0;
      }
      &.slick-next{
        left: auto;
        right: 0;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {
  .col-btn{
    &__cell{
      width: 50%;
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .form-control_big{
    font-size: 18px;
  }
  .header__nav{
    &-list{
      display: block !important;
      .container{
        padding: 0;
        width: auto;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {

}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .itemList{
    &__section{
      width: 50%;
    }
  }
  .counter__sections-section {
    display: block;
    font-size: 22px;
  }

  .content{
    &__left{
      float: none;
      width: 100%;
      padding: 0;
    }
    &__right{
      float: none;
      width: 100%;
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .auth-sign {
    &__item {
      font-size: 14px;
      &-title{
        padding-left: 15px;
      }
    }
  }

  .block-bg{
    .btn{
      padding: 9px 16px;
      font-size: 12px;
    }
    &__title {
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 19px;
    }
  }
  .itemList{
    &__section{
      width: 100%;
    }
  }
}
