html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .instagram-widget {
    &__list {
      &-photo {
        margin: -2px;
        &-section{
          padding: 2px;
        }
        &-item {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .btn-toggle-profile-descTextBlockMain {
    padding-left: 52%;
  }
  .card-desc{
    &__text{
      font-size: 17px;
      line-height: 23px;
    }
    &__img{
      img{
        width: 290px;
        margin-left: -38px;
        margin-bottom: -5px;
      }
    }
  }
  .phone-block__phone {
    font-size: 18px;
    line-height: 21px;
  }
  .header{
    &__nav{
      position: relative;
      &-list{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 2px solid #2d59ca;
        padding: 12px 0;
        ul{
          display: block;
          line-height: normal;
          margin: 0;
          li{
            display: block;
            +li{
              border-top: 1px solid #ececec;
            }
            a{
              padding: 10px 4px;
            }
          }
        }
      }
    }
  }
  .itemList {
    margin: -8px;
    &__section {
      padding: 8px;
    }
  }
  .arrow-style{
    .slick-arrow{
      &.slick-prev{
        right: auto;
        left: 0;
      }
      &.slick-next{
        left: auto;
        right: 0;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {
  .col-btn{
    &__cell{
      width: 50%;
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, md)) {
  .text-big{
    font-size: 18px;
  }
}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .tabs{
    &__nav{
      li{
        &.right{
          a{
            &:after{
              @include triangle('right', #2d59ca, 7px, 14px);
              left: 100%;
              top: 50%;
              margin-top: -7px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  //.content{
  //  &__left{
  //    width: 75.1%;
  //  }
  //  &__right{
  //    width: 24.9%;
  //  }
  //}
  .form-control_big{
    font-size: 18px;
  }
  .header__nav{
    &-list{
      display: block !important;
      .container{
        padding: 0;
        width: auto;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {

}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .btn-toggle-profile-descTextBlockMain {
    position: relative;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .btn-toggle-profile-descText{
    &:after {
      top: 100%;
      right: 0;
      left: auto;
      @include triangle('up-right', #fff);
    }

  }
  .reviews {
    &__item {
      display: block;
      > * {
        display: block;
        + * {
          padding-left: 0px;
          padding-top: 10px;
        }
      }
    }
  }
  .desc-institution{
    &__table{
      display: block;
      font-size: 0;
      &-cell {
        display: inline-block;
        font-size: 14px;
        &_contacts{
          margin-top: 15px;
          width: 100%;
          .desc-institution__contacts{
            margin-top: 0;
          }
        }
        &_desc{
          padding-right: 0;
          width: 70%;
        }
        &_img{
          width: 30%;
        }
      }
    }
  }
  .desc-card{
    padding: 43px 0;
    &__title{
      font-size: 17px;
      line-height: 25px;
    }
    &__text{
      font-size: 12px;
      line-height: 21px;
    }
  }
  .registration-block {
    &__list {
      margin: 10px -10px;
      li {
        width: 50%;
        padding: 15px 10px;
      }
    }
  }
  .count-block {
    > * {
      font-size: 16px;
    }
    &_small{
      >*{
        font-size: 11px;
      }
    }
  }
  .list-basket {
    &__item {
      display: block;
      margin: -5px;
      position: relative;
      padding-right: 30px;
      font-size: 16px;
      > * {
        display: inline-block;
        padding: 5px;
      }
      &-title {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      &-clear{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 25px;
      }
    }
  }
  .style-radio {
    font-size: 14px;
    &__table {
      &-cell {
        &_el {
          padding-top: 2px;
        }
      }
    }
  }
  .form-control {
    font-size: 14px;
  }
  .bootstrap-select.btn-group {
    .dropdown-toggle {
      height: 37px;
      line-height: 43px;
      .filter-option {
        font-size: 14px;
      }
    }
    .bs-caret{
      height: 37px;
      width: 37px;
      .caret{
        @include triangle('right', #fff, 6px, 12px);
      }
    }
  }
  .itemList{
    &__section{
      width: 50%;
    }
  }
  .counter__sections-section {
    display: block;
    font-size: 22px;
  }

  .content{
    margin: 0;
    >*{
      padding: 0;
    }
    &__left{
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .header__nav-links{
    a{
      >span{
        padding: 9px 14px;
        font-size: 12px;
      }
    }
  }
  .desc-institution{
    &__table{
      &-cell {
        &_desc{
          margin-top: 10px;
          padding: 0;
          width: 100%;
        }
        &_img{
          width: 100%;
        }
      }
    }
  }
  .banner-desc-table{
    display: block;
    &__cell{
      display: block;
      +*{
        margin-top: 10px;
      }
      &_retreat{
        display: none;
      }
    }
  }
  .auth-sign {
    &__item {
      font-size: 14px;
      &-title{
        padding-left: 15px;
      }
    }
  }

  .block-bg{
    .btn{
      padding: 9px 16px;
      font-size: 12px;
    }
    &__title {
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 19px;
    }
  }
  .itemList{
    &__section{
      width: 100%;
    }
  }
}
